@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
   margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
#nav{
    position:sticky;
    top: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background-color: rgb(228, 75, 75);
}
.nav-item{
    text-align: center;
    margin-left: 50px;
    font-family: "Lato", sans-serif;;
}
.nav-item>a:hover{
    color: blue;
}
.dropdown-menu>li>a:hover{
    color: rgb(253, 10, 50);
}
.home2>img{
    position:absolute;
}
.home2{
background-color:rgb(77, 58, 112);
}
.home3>h1{
    margin-left: -80px;
    margin-top: 100px;
    font-size: 80px;
    font-weight: 1000px;
    position: relative;
    width: 70%;
    text-align: center;
}
.home3>p{
    margin-left: 100px;
    width: 40%;
    text-align: center;

}
.n{
    margin-left: 50px;
}
.box{
    display: flex;
    margin-left: 300px;
}
.button>button{
    width: 150px;
    height: 40px;
    background-color: rgb(8, 8, 8);
    color: aliceblue;
    margin-top: 50px;
    margin-left:350px;
}
.button>button:hover{
    color: aqua;

}
navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0.5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    background-color: rgb(228, 75, 75);
}
.nav-item {
    text-align: center;
    margin-left: 50px;
    font-family: "Lato", sans-serif;
}
.nav-item > a:hover {
    color: blue;
}
.dropdown-menu > li > a:hover {
    color: rgb(253, 10, 50);
}
.home2 > img {
    margin-left: 800px;
    position: absolute;
}
.home2 {
    background-color: rgb(77, 58, 112);
}
.home3 > h1 {
    margin-left: -80px;
    margin-top: 100px;
    font-size: 80px;
    font-weight: 1000px;
    position: relative;
    width: 70%;
    text-align: center;
}
.home3 > p {
    margin-left: 100px;
    width: 40%;
    text-align: center;
}
.n {
    margin-left: 50px;
}
.box {
    display: flex;
    margin-left: 300px;
}
.button > button {
    width: 150px;
    height: 40px;
    background-color: rgb(8, 8, 8);
    color: aliceblue;
    margin-top: 50px;
    margin-left: 300px;
}
.button > button:hover {
    color: aqua;
}

@media screen and (max-width: 768px) {
    navbar {
        padding: 0.5rem 2rem;
    }
    .nav-item {
        margin-left: 20px;
    }
    
    .home3 > h1 {
        font-size: 60px;
        margin-left:  0px;
    }
    .home3 > p {
        margin-left: 0px;
        width: 65%;
    }
    .box {
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }
    .button > button {
        margin-left:200px;
    }
}

@media screen and (max-width: 425px) {
    navbar {
        padding: 0.5rem 1rem;
        text-align: center;
    }
    .nav-item {
        margin-left: 10px;
        font-size: 14px;
    }
    .home3 > h1 {
        font-size: 40px;
        margin-top: 50px;
        margin-left: 50px;
    }
    .home3 > p {
        width: 90%;
        margin: 0 auto;
        
    }
    .home2 > img {
        margin-left:-500;
        width: 100%;

    }
    .button > button {
        width: 100%;
        max-width: 200px;
        margin: 20px auto;
        margin-left: 70px;
        margin-top: 50px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    navbar {
        padding: 0.5rem 3rem; 
    }
    .nav-item {
        margin-left: 30px; 
    }
    .home2 > img {
        margin-left:-1200px;
    }
    .home3 > h1 {
        font-size: 70px; 
        margin-left: -40px; 
    }
    .home3 > p {
        margin-left: 50px; 
        width: 50%; 
    }
    .box {
        margin-left: 200px; 
    }
    .button > button {
        width: 140px; 
        margin-left: 200px; 
    }
}
.pro>img{

    margin-left: 10px;
    margin-top: 150px;
width: 250px;
border-radius: 120px 120px 120px 120px;
}
.pro>img {
    padding: 50px;
 transition: transform .2s;
  }
  
.pro>img:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
  }
.pro-para>p{

    margin-top: 20px;
    margin-left: 100px;
}
.pro-para{
    display: flex;
}
.para2{
    margin-top: 20px;
    margin-left: 200px;
    font-family:  Helvetica,;
}
.para3{
    margin-top: 50px;
    margin-left: 0px;
    font-family:  Helvetica,;
    text-align: center;
}
.top>h1{
    font-size: 80px;
    margin-top: 100px;
    margin-left:350px ;
}
.pro-para > p {
    margin-top: 20px;
    margin-left: 100px;
}

.pro-para {
    display: flex;
}

.para2 {
    margin-top: 20px;
    margin-left: 200px;
    font-family: Helvetica;
}

.para3 {
    margin-top: 50px;
    margin-left: 0px;
    font-family: Helvetica;
    text-align: center;
}

.top > h1 {
    font-size: 80px;
    margin-top: 100px;
    margin-left: 350px;
}
@media screen and (max-width: 768px) {
    .pro-para > p {
        margin-left: 50px; 
    }

    .para2 {
    
        font-size: 14px; 
    }

    .para3 {
        margin-top: 30px;
        text-align: left; 
    }

    .top > h1 {
        font-size: 50px; 
        margin-left: 50px;
        margin-top: 50px;
    }
}
.card>img{
    width: 200px;
    height: 200px;
    
}
.card{
    display: flex;
    width: 300px;
    margin-left: 100px;
    border: none;
    
}
.card-body:hover{
    background-color: rgb(168, 47, 87);
    color: white;
    
}
p>box-icon{
    margin-left: 100px;
    margin-top: 10px;
}
u>box-icon{
    margin-left: 30px;
}
.smart{
    margin-top: -100px;
    display: flex;
}
.smart1{
    margin-left: -50px;
    margin-top: 200px;
}
.smart>.img{
margin-left: 180px;
}
.smart1>h2{
    font-size: 50px;
}
.smart1>p{
    font-size: 30px;
}
.smart1>u{
    font-size: 20px;
}
.deals>h1{
    margin-top: 50px;
    margin-left:50px;
    font-size: 80px;

}
.deal1{
    margin-top: 30px;
    width: 100%;
    margin-left: -70px;
}
.deal1>h6{
    text-align: center;
}
p>button{
    margin-left: 30px;
    margin-top: 20px;
    height: 40px;
    width: 120px;
    color: rgb(23, 133, 133);
    border:none;
    
}
u{
    color: rgb(139, 29, 71);
}



@media (max-width: 1024px) {
    .card {
        width: 250px;
        margin-left: 50px;
    }
    .smart {
        flex-direction: column;
        margin-top: 20px;
    }
    .smart>.img {
        margin-left: 100px;
    }
    .smart1 {
        margin-left: 0;
        margin-top: 50px;
    }
    .smart1>h2 {
        font-size: 40px;
    }
    .deals>h1 {
        margin-left: 300px;
        font-size: 60px;
    }
}

@media (max-width: 768px) {
    .card {
        width: 200px;
        margin-left: 20px;
        
    }
    .smart {
        flex-direction: column;
        margin-left: 100px;
    }
    .smart>.img {
        margin-left: -100px;
    }
    .smart1>h2 {
        font-size: 30px;
       
    }
    .smart1>p {
        font-size: 20px;
       
    }
    .deals>h1 {
        margin-left: 200px;
        font-size: 50px;
        
    }
    .deal1>.card{
        display: block;
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
        margin-left: 0;
    }
    .card>img {
        width: 100px;
        height: 100px;
    }
    .smart {
        flex-direction: column;
    }
    .smart>.img {
        margin-left: 0;
        text-align: center;
    }
    .smart1 {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }
    .smart1>h2 {
        font-size: 25px;
    }
    .smart1>p {
        font-size: 16px;
    }
    .smart1>u {
        font-size: 14px;
    }
    .deals>h1 {
        margin-left: 0;
        font-size: 40px;
        text-align: center;
    }
    p>button {
        margin-left: 0;
        width: 100px;
    }
}
.vid{
    margin-top: -50px;
}

.vid2{
    margin-left: 700px;
    margin-top: -350px;
    color: rgb(7, 6, 6);
}
.vid2>u{
    color: blue;
    font-size: 20px;
}
.vid3{
    margin-left: 150px;
}
.vid2>h2{
    font-size: 50px;
}
.vid2>p{
    font-size: 30px;
}
.logo{
    margin-top: 150px;
    margin-left: 150px;
    display: flex;
}
.lo1{
    margin-left: 50px;
}
.lo2{
    margin-left: 150px;
}
.lo3{
    margin-left: 100px;
}
.insta>img{
    width: 250px;
    height: 250px;
    margin-left: 0px;
    margin-top: 100px;
    border-radius: 70px;
}
.insta>img {
    padding: 50px;
    transition: transform .2s;
  }
  
.insta>img:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
  }
  
@media (max-width: 768px) {
    .vid2 {
        margin-left: 50px;
        margin-top: 20px;
    }
    .vid2 > h2 {
        font-size: 30px;
    }
    .vid2 > p {
        font-size: 20px;
    }
    .logo {
        flex-direction: column;
        margin-left: 20px;
    }
    .insta > img {
        width: 150px;
        height: 150px;
        margin-top: 50px;
    }
}


@media (max-width: 768px) {
    .vid2 {
        margin-left: 150px;
        margin-top: 20px;
    }
    .vid2 > h2 {
        font-size: 50px;
    }
    .vid2 > p {
        font-size: 50px;
    }
    .logo {
        flex-direction: column;
        margin-left: 50px;
    }
    .lo1{
        margin-left: 100px;
    }
    .lo2{
        margin-left: 100px;
    }
    .lo3{
        margin-left: 100px;
    }
    .insta > img {
        width: 150px;
        height: 150px;
        margin-top: 50px;
        
    }
}
@media (max-width: 480px) {
    .vid2 {
        margin-left: 20px;
        margin-top: 10px;
        text-align: center; 
    }
    .vid3>img{
margin-left: -130px;
    }
    .vid2 > h2 {
        font-size: 25px;
    }
    .vid2 > p {
        font-size: 16px;
    }
    .vid2 > u {
        font-size: 18px;
    }
    .logo {
        flex-direction: column;
        margin-left: 10px;
        margin-top: 20px;
    }
    .lo1,
    .lo2,
    .lo3 {
        margin-left: 100px;
    }
    .insta > img {
        width: 120px;
        height: 120px;
        margin-top: -px;
        padding: 20px;
        margin-left: 100px;
    }
}
.insta1>h1{
    font-size: 50px;
    margin-top: 100px;
    margin-left: 500px;
}

.foo1>img{
    width: 100%;
    height: 300px;
    position: absolute;
}
.off{
margin-left: 1100px;
}
.off{
    animation-name:off;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count:infinite;
    animation-direction: right;
    
    }
    
 @keyframes off{
        0%{margin-left: 1040px;}
        50%{margin-left: 1070px;}
       100%{margin-left:1040px;}
}
.foo1-para{
    position: relative;
    color: white;
    margin-left: 200px;
    
}
.foo1-para1{

    position:relative;
    color: white;
    margin-left: 100px;
    
}
.footer{
    display: flex;
}
.foo1-para2{
    position:relative;
    color: white;
    margin-left: 100px;
    
}
.foo1-para3{
    position:relative;
    color: white;
    margin-left: 100px;
    
}
.foo1-para3>box-icon{
    margin-left: 10px;
}@media screen and (max-width: 768px) {
    .foo1-para {
        margin-left: 50px;
    }

    .foo1-para1,
    .foo1-para2,
    .foo1-para3 {
        margin-left: 20px; 
    }

    .footer {
        flex-direction: column;
    }

    .foo1-para3 > box-icon {
        margin-left: 5px;
    }
}

@media screen and (max-width: 480px) {
    .foo1-para,
    .foo1-para1,
    .foo1-para2,
    .foo1-para3 {
        margin-left: 10px;
    }

    .footer {
        display: block; 
    }

    .foo1-para3 > box-icon {
        margin-left: 2px; 
    }
}
